body{
    font-family: sans-serif;
}
.messages-container{
   height: 300px;
   background-color: white;
   overflow-y: scroll;
   overflow-x: hidden;
   border: 1px solid black;
}
.messages-container ul{
    list-style-type: none;
    padding-left: 0;
}
.messages-container ul > li{
    padding: 15px;
    margin-bottom: 4px;
}
.message{
    background-color: lightgreen;
    margin-left: 15px;
    border-radius: 7px 0 0 7px;
}
.other-message{
    background-color: lightblue;
    margin-right: 15px;
    border-radius: 0 7px 7px 0;
}
.message small, .other-message small{
    font-style: italic;
}
.messages-actions {
    display: flex;
    border: 1px solid black;
    border-top: none;
}
.messages-actions input[type=text]{
    padding: 10px;
    border: none;
}
.messages-actions input[type=submit]{
    cursor: pointer;
    background-color: orange;
    border: none;
    padding: 11px 14px;
}
.messages-actions input[type=submit]:hover{
    background-color: rgba(255,166,0,0.80);
    cursor: pointer;
}
.messages-actions input[type=submit]:active{
    background-color: rgba(255,166,0,0.70);
}

/* Users active */
.users-active{
    list-style-type: none;
    padding-left: 0;
    background-color: whitesmoke;
    display: inline-block;
    width: 250px;
    text-align: center;
}
.users-active li{
    padding: 10px;
}
.users-active li:nth-child(even){
    background-color: lightgrey;
}

/* Header section */
.users-active-container{
    padding: 15px 0;
}
.link-buttons > a{
    text-decoration: none;
    background-color: rgba(255,166,0,0.5);
    padding: 20px;
    display: inline-block;
    color: black;
}
.link-buttons > a:nth-child(even){
    background-color: rgba(255,166,0,0.8);
}
.link-buttons > a:hover{
    opacity: 0.8;
}
.hidden{
   display: none;
}

.chat-container {
    width: 250px;
    max-height: 47px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 6px 7px 0px 2px grey;
}
.chat-container.uncollapsed {
    max-height: 400px;
}
.chat-title {
    text-align: center;
    cursor: pointer;
    padding: 4px;
}
.chat-title:hover {
    background-color: azure;
}
.admin-chat-ids li {
    cursor: pointer;
    background-color: lightskyblue;
}
.admin-chat-ids li:hover {
    opacity: 0.6;
}
.admin-chat-ids li:nth-child(odd) {
    background-color: lightblue;
}
.main-input-chat-text {
    width: 100%;
}
.chat-subtitle {
    color: darkgrey;
    font-size: 9.5pt;
    text-align: center;
}
.chat-collapse {
    position: absolute;
    transform: rotate(90deg);
    font-size: 14pt;
    border-radius: 50%;
    width: 25px;
    margin-top: -3px;
    left: 30px;
    transition: all 0.3s;
}
.chat-collapse.open {
    transform: rotate(180deg);
}